@import "default.css";
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background-color: alpha(@background-color, .6);
  border-radius: 24px;
  margin: 18px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background .notification {
  background-color: @surface-color;
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  border: 1px solid @error-color;
  color: @error-color;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 4px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px;

}
.notification-group-headers {
  margin: 8px 2px;
  font-weight: bold;
  font-size: 1.25rem;
  color: @secondary-color;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @secondary-color;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background-color: transparent;
  color: @secondary-color;
  margin: 2px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background-color: @hover-color;
}  

/* WIDGETS --------------------------------------------------------------------------- */

  /* Notification clear button */
.widget-title {
  color: @secondary-color;
  font-size: 1.4em;
  font-weight: bold;
  margin: 6px;
}

.widget-title button {
  background-color: @surface-color;
  border-radius: 8px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @hover-color;
}

.widget-title button:active {
  background-color: @accent-color;
}

  /* Do not disturb */
.widget-dnd {
  color: @secondary-color;
  margin: 6px;
  font-size: 1.4rem;
  font-weight: bold;
}

.widget-dnd > switch {
  background-color: @surface-color;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background-color: @hover-color;
}

.widget-dnd > switch:checked {
  background-color: @accent-color;
  color: @on-accent-color;
}

.widget-dnd > switch:checked:hover {
  background-color: @hover-color;
}

.widget-dnd > switch slider {
  background-color: @accent-color;
  border-radius: 6px;
}

  /* Buttons menu */
.widget-buttons-grid {
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background-color: @surface-color;
  color: @secondary-color;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 2px 6px;
  padding: 6px 12px;
  background-color: transparent;
  /* Mantain format */
  min-width: 20px;
  border-radius: 12px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover,
.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked:hover {
  background-color: @hover-color;
}

.widget-buttons-grid > flowbox > flowboxchild > button.toggle:checked {
  background-color: @accent-color;
  color: @on-accent-color;
}

  /* Music player */
.widget-mpris {
    background-color: @surface-color;
    border-radius: 16px;
    color: @text-color;
    margin:  20px 6px;
}

.widget-mpris-player {
    background-color: transparent;
    padding: 8px;
    margin: 2px;
}
 
.widget-mpris button {
  color: alpha(@secondary-color, .4);
}

.widget-mpris button:hover {
  color: @secondary-color;
}

.widget-mpris-album-art {
  border-radius: 16px;
}
 
.widget-mpris-title {
  color: @accent-color;
  font-weight: 700;
  font-size: 1.2rem;
}
 
.widget-mpris-subtitle {
  font-weight: 400;
  font-size: 0.86rem;
}

/* Volume */
.widget-volume {
  background-color: @surface-color;
  color: @secondary-color;
  font-size: x-large;
  padding: 6px 12px;
  margin: 0px 6px 24px 6px;
  border-radius: 10px;
}

.widget-volume>box>button {
    background: transparent;
    border: none
}
